@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-red-400: hsl(0, 100%, 74%);
  --clr-green-400: hsl(154, 59%, 51%);
  --clr-accent: hsl(248, 32%, 49%);
  --clr-purple-350: hsl(246, 25%, 77%);
  --clr-gray-900: hsl(249, 10%, 26%);
  --ff-sans: "Poppins", sans-serif;
}

body {
  font-family: var(--ff-sans);
  margin: 0;
  padding: 0;
  background: url("../images/bg-intro-desktop.png") repeat center center fixed;
  background-color: var(--clr-red-400);
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1100px;
  padding: 2rem;
  justify-items: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.form-info {
  color: white;
}

.main-form {
  display: grid;
  gap: 1rem;
}

.btn {
  background-color: transparent;
  border-radius: 7px;
  padding: 0.75rem;
  color: white;
}

.try-it-btn {
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
}

.try-it-btn span:first-child {
  font-weight: 600;
}

.try-it-btn span:nth-child(2) {
  font-size: 0.75rem;
  color: var(--clr-purple-350);
}

.claim-btn {
  background-color: var(--clr-green-400);
  border: 1px solid var(--clr-green-400);
  text-transform: uppercase;
}

.sign-up-form {
  background-color: white;
  padding: 2rem;
  border-radius: 7px;
}

.sign-up-form form {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-auto-columns: 1fr;
  gap: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.75rem;
  border-radius: 7px;
  border: 1px solid gray;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: 1px solid var(--clr-purple-350);
}

.terms_and_conditions {
  font-size: 0.75rem;
  color: var(--clr-gray-900);
  font-size: 10px;
}

.terms_and_conditions a {
  color: var(--clr-red-400);
  text-decoration: none;
  font-weight: 600;
}
